<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="Style.css">
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" id="nav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('index') }}" class="navbar-left"><img src="../Images/logoo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul id="navxx"class="nav navbar-nav navbar-locale">
                <li><a href="{{ path('membre') }}">espace membre</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ path('membre') }}"><span class="glyphicon glyphicon-log-in"></span> Retour espace membre</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="myPage" class="jumbotron text-center bg-1">
    <h1>Traitement des propositions</h1>
    <img src="../Images/proposition.png" alt="Membre">
</div>

<div id="traitement" class="container-fluid text-center">
    <h2>Actions</h2></br>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1"><span class="glyphicon glyphicon-eye-open"></span>Visualiser la proposition</a>
                </h4>
            </div>

            <div id="collapse1" class="panel-collapse collapse">
                </br>

                    <div class="form-group">

                    <textarea readonly class="form-control" name="texte" rows="10" id="proposition" placeholder="Exemple de demande !!!!!">
                        {{ proposition.texte }}
                    </textarea>

                    </div></br>

                    <form action="{{ path('validerProposition', {'idProposition': proposition.id}) }}">
                        <button type="submit" name="accepter" class="btn btn-default">Accepter</button>
                    </form>
                    <form action="{{ path('membre') }}">
                        <input type="submit" value="Mes demandes" />
                    </form>


            </div>
        </div>
    </div>
    </br>


</div>
</div>

</div>


<!-- Footer -->
<footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
</footer>



</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="Style.js"></script>

</html>

