<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="Style.css">
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{{ path('index') }}" class="navbar-left"><img src="../Images/logoo.png"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul id="navxx" class="nav navbar-nav navbar local">
                <li><a href="{{ path('showDemandes') }}"><span class="glyphicon glyphicon-log-in"></span> Demandes</a></li>
                <li><a href="{{ path('membre') }}"><span class="glyphicon glyphicon-pencil"></span> Mon espace</a></li>
            </ul>

            <ul class= "nav navbar-nav navbar-right" id="myNavbar">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Plus
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('profil', {"idPersonne": user.id}) }}"><span class="glyphicon glyphicon-user"></span>Profil</a></li>
                        <li><a href="{{ path('logout')}}"><span class="glyphicon glyphicon-log-out"></span> Déconnexion</a>
                    </ul>
                </li>
                </li>
            </ul>

        </div>
    </div>
</nav>

<div id="myPage" class="jumbotron text-center bg-1">
    <h1>{{ demande.titre }}</h1>

</div>




<div id="offres" class="container-fluid text-center bg-1">
    </br>
    <div class="row">

        <div class="col-sm-11">
            <h2 id="titdem">Liste des propositions</h2></br>

            <table class='table table-striped text-center'>
                <tr><td><strong>Titre de la proposition</strong></td><td><strong>Description de la proposition</strong></td><td><strong>Pseudo du proposeur</strong><td><strong>Actions</strong></td></tr>

                {% if propositions != null %}

                    {% for proposition in propositions %}

                        <tr><td>{{ proposition.titre }}</td>
                            <td>{{ proposition.texte[:30] }}...</td>
                            <td><a href="{{ path('profil', {"idPersonne": proposition.personne.id}) }}">{{ proposition.personne.username }}</a></td>

                            <td><button id="btdem" type="button" class="btn btn-primary btn-circle" data-toggle="tooltip" data-placement="top" title="Accèder à cette proposition" onclick="location.href = '{{ path('showProposition', {"idProposition": proposition.id}) }}'"><i class="glyphicon glyphicon-eye-open"></i></button></td>

                        </tr>

                    {% endfor %}

                {% endif %}


            </table>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
        <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
</footer>



</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="Style.js"></script>

</html>

